---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: gardening-hhvm
name: gardening-hhvm

authorize: ~/.ssh/id_rsa.pub

keys:
  - ~/.ssh/id_rsa

folders:
  - map: ~/applicationPath
    to: /home/vagrant/applicationPath
sites:
  - map: gardening-hhvm.app
    to: "/home/vagrant/applicationPath/public"

# create database(optional)
# databases:
#    - append_tables

# Add any environment variables.
# variables:
#    - key: 'APP_ENV'
#      value: 'local'
#    - key: 'APP_DEBUG'
#      value: 'true'
